body {
background-image: url("assets/images/background-image.jpg");
}

header {
    background-color: #fff;
    border-bottom: 2px solid gray;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px;
    color: #EEBEC1;
}

.header {
    margin: 0 auto 0 auto;
    padding: 0px 0px 10px 00px;
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    border-bottom: silver 1px solid;
}

.headerwidth {
    width: 960px;
    margin: 0 auto 0 auto;
    text-align: right;
    padding-top: 0px;

}

.links {
    padding: 15px 0 15px 0;
}

.ashley {
    padding: 20px;
    background-color: #EEBEC1;
    width: 200px;
    text-align: center;
    float: left;
}

.yourname {
    background-color: #EEBEC1;
    width: 200px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    float: left;
}

.links a {
    margin: 0px 0 30px 30px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
}

.contact {
    width: 960px;
    border: 2px #aaaaaa solid;
    margin: 30px auto 60px auto;
    padding: 20px;
    background-color: #fff;
}

.aboutme {
    width: 960px;
    border: 2px #aaaaaa solid;
    margin: 30px auto 60px auto;
    padding: 20px;
    background-color: #fff;
}



.img {
    float: left;
    padding: 0 20px 20px 0;
}

footer {
    clear: both;
    overflow: hidden;
    background-color: #777;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: x-small;
    border-top: 10px solid #EEBEC1;
}